body {
  font-family: "PT Serif", sans-serif;
  width: 80%;
  margin: 20px auto;
  color: #2c3e50;
  background-color: #f4f7f8;
  font-size: 1.1em;
}

button,
input {
  display: block;
  width: 80%;
  margin: 15px auto;
}

img {
  display: block;
  width: 80%;
}
