{
    "printWidth": 120,
    "tabWidth": 4,
    "semi": true,
    "trailingComma": "all",
    "singleQuote": false,
    "quoteProps": "consistent",
    "bracketSpacing": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
