@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .ribbon-clip-path {
        --r: 10px; /* control the ribbon shape */

        padding: 2px calc(10px + var(--r)) 2px 10px;
        clip-path: polygon(0 0, 100% 0, calc(100% - var(--r)) 50%, 100% 100%, 0 100%);
    }
}
